<div class="login-container">
  <div id="gradient">
    <img ngSrc="assets/bcs.png" width="474" height="700" id="image">
  </div>
  <div class="login-form-container">
    <h2 class="login-title">Sign In</h2>

    <!-- sign.component.html -->
    <form [formGroup]="signForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="name@mail.com"
          [class.is-invalid]="signForm.get('email')?.invalid && signForm.get('email')?.touched"
        />
        <div *ngIf="signForm.get('email')?.invalid && signForm.get('email')?.touched" class="error">
          <small *ngIf="signForm.get('email')?.errors?.['required']">Email required</small>
          <small *ngIf="signForm.get('email')?.errors?.['email']">Invalid email</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          [type]="showPassword() ? 'text' : 'password'"
          formControlName="password"
          placeholder="Password"
          [class.is-invalid]="signForm.get('password')?.invalid && signForm.get('password')?.touched"
        />
        <h5 (click)="togglePasswordVisibility()" id="password-hider">{{ showPassword() ? "Hide" : "Show" }}
          password</h5>
        <div *ngIf="signForm.get('password')?.invalid && signForm.get('password')?.touched" class="error">
          <small>Password required</small>
        </div>
      </div>


      <button type="submit" [disabled]="signForm.invalid || isLoading()" class="login-button">Sign In</button>
      <div *ngIf="signError()">{{ signError() }}</div>
    </form>


    <div class="signup-link">
      You are not Spectator? <a href="#">Join Us</a>
    </div>
  </div>
  <img ngSrc="assets/bcs.png" width="431" height="700" [style.opacity]="'0'">
</div>
