<div id="container">
  <h1 *ngIf="title" class="trend-title light-neon-effect-text">{{ title }}</h1>
  <div id="contents" [style]="wrap ? 'flex-wrap: wrap' : 'flex-wrap: nowrap;'">
    @if (content && content.length > 0) {
      <div *ngFor="let item of content" class="item">
        <div class="item" routerLink="/{{ isMovie(item) ? 'movie' : 'tv'}}/{{ item.id }}">
          <img class="poster" ngSrc="{{ intrinsic(item.poster) }}" alt="{{ getTitle(item) }}"
               width="{{sizes.width}}" height="{{sizes.height}}"/>
          <h2 class="title" [style.width.px]="sizes.width">{{ getTitle(item) }}</h2>
        </div>
      </div>
    } @else {
      <h4 style="font-style: italic; font-weight: 200">No content yet</h4>
    }
  </div>
</div>
