<div class="profile-container" *ngIf="me()">
  <!-- Cabecera del perfil -->
  <div class="profile-header">
    <div class="profile-info">
      <div class="profile-avatar">
        <img ngSrc="assets/user.svg" alt="Avatar de usuario" height="400" width="400">
      </div>

      <div class="profile-username">
        <h4 *ngIf="me()">{{ me().username }}</h4>
        <div class="button" (click)="logout()"><h5 style="margin: 0.25rem 0.5rem">LOGOUT</h5></div>
      </div>

      <div class="profile-stats">
        <div class="stat-item">
          <span class="stat-number">{{ moviesLength() }}</span>
          <span class="stat-label">films</span>
        </div>
        <div class="stat-item">
          <span class="stat-number">{{ tvLength() }}</span>
          <span class="stat-label">tv shows</span>
        </div>
        <div class="stat-item">
          <span class="stat-number">{{ me().followers.length }}</span>
          <span class="stat-label">followers</span>
        </div>
        <div class="stat-item">
          <span class="stat-number">{{ me().following.length }}</span>
          <span class="stat-label">following</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section">
    <h2 class="section-title">Recent watched</h2>
    <app-contentlist [content]="watched()"/>
  </div>

  <div class="content-section">
    <h2 class="section-title">Recent ratings</h2>
    <app-contentlist [content]="ratings()"/>
  </div>

  <div class="content-section">
    <h2 class="section-title">Watchlist</h2>
    <app-contentlist [content]="watchlist()"/>
  </div>

  <div class="container">
    <div>
      <h2>My lists</h2>
      <ul>
        <li *ngFor="let list of this.me().content_lists">
          <a [routerLink]="['/list', list.id]">
            {{ list.name }}
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h2>Saved lists</h2>
    </div>
  </div>


</div>
