@use "../../../styles" as styles;

.profile-container {
  margin: 0 5%;
  padding: 0;
}

// Cabecera del perfil
.profile-header {
  margin: 4rem 3rem 4rem 7rem;

  .profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25%;
    width: 100%;

    .profile-avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid styles.$text;
      margin: 0 50px 0 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .profile-username {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 1rem;
      font-size: 24px;
      font-weight: 600;
      margin-right: 40px;
    }

    .profile-stats {
      display: flex;
      gap: 1rem;

      .stat-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .stat-number {
          font-size: 20px;
          font-weight: 600;
        }

        .stat-label {
          font-size: 14px;
          white-space: none;
          color: darken(styles.$text, 10%);
        }
      }
    }
  }
}

// Secciones de contenido
.content-section {
  margin-bottom: 2rem;

  .section-title {
    color: darken(styles.$text, 5%);
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 300;
  }

}

// Sección social
.social-section {
  margin-bottom: 40px;

  .social-headers {
    display: flex;

    .section-title {
      color: darken(styles.$text, 10%);
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: 500;
      margin-right: 40px;
    }
  }

  .users-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    .user-item {
      background-color: styles.$text-contrast;
      padding: 10px;
      border-radius: 4px;
      text-align: center;
      font-size: 14px;
    }
  }
}

.lists {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem 1rem;
}

// Media queries para responsividad
@media (max-width: 1024px) {
  .media-grid, .users-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .profile-header {
    height: 300px;

    .profile-info {
      flex-direction: column;
      align-items: flex-start;

      .profile-stats {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }

  .media-grid, .users-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .media-grid, .users-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile-info .profile-stats .stat-item {
    margin-left: 15px;
  }
}
