@use "../../../styles" as styles;

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text {
  font-weight: lighter;
  color: styles.$text-contrast-mid;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
