@use "../styles" as styles;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100.1vh; /* Importante: usar vh en lugar de % */
}

header, footer {
  flex: 0 0 auto; /* No crecer, no encoger, tamaño automático */
}

main {
  flex: 1 0 auto; /* Crecer para ocupar espacio disponible */
  display: flex;
  flex-direction: column;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

::view-transition-old(root) {
  animation: exit 2s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
  animation: enter 4s ease 0s 1 normal forwards;
}
