<div id="body">
  <a routerLink="/list/create" id="list-creator" *ngIf="meResource()">Create a list</a>
  <h2 *ngIf="!meResource()" style="text-align: center">Join Us to unlock this feature!</h2>
  <div class="row">
    <h2 class="title">Most voted lists</h2>
    <div class="list">
      <div *ngFor="let list of voteCounting()">
        <app-lists-visualizer [list]="list" [disabled]="!meResource()"></app-lists-visualizer>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="title">Trending lists</h2>
    <div class="list">
      <div *ngFor="let list of popularities()">
        <app-lists-visualizer [list]="list" [disabled]="!meResource()"></app-lists-visualizer>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="title">Loved by spectators</h2>
    <div class="list">
      <div *ngFor="let list of bestVoted()">
        <app-lists-visualizer [list]="list" [disabled]="!meResource()"></app-lists-visualizer>
      </div>
    </div>
  </div>
</div>
