<div id="body" *ngIf="readonly()">
  <h1 id="name" *ngIf="windowWidth() <= 700">{{ readonly().name }}</h1>
  <div id="person">
    <img id="still" ngSrc="{{readonly().still ?? 'https://placehold.co/280x420'}}" alt="person" width="280"
         height="420"/>
    <p id="biography">{{ readonly().biography }}</p>
  </div>
  <div id="contents">
    <h1 id="name" *ngIf="windowWidth() > 700">{{ readonly().name }}</h1>
    <h2 id="starring">FILMS STARRING</h2>
    <app-contentlist-wrap [content]="content(readonly().credits)"></app-contentlist-wrap>
  </div>
</div>
