<!-- header.component.html -->
<header id="header">
  <div class="header-item">
    <app-grand-spectra-brand/>
  </div>

  <div id="items">
    <a routerLink="/hub">
      <div class="header-item">
        <h3 class="header-nav">HUB</h3>
      </div>
    </a>

    <a routerLink="/spectators">
      <div class="header-item">
        <h3 class="header-nav">{{ members() }}</h3>
      </div>
    </a>

    <a routerLink="/lists">
      <div class="header-item">
        <h3 class="header-nav">LISTS</h3>
      </div>
    </a>
  </div>

  <div id="buttons">
    <a [routerLink]="me() ? '/spectator/' + me().username : '/login'">
      <div class="header-item">
        <h3 class="header-nav" id="sign">{{ me() ? "PROFILE" : "JOIN US" }}</h3>
      </div>
    </a>
  </div>
</header>
