@use "fonts";

// Variables (reemplazando las CSS variables)
$background: #111111;
$background-contrast: #252020;
$background-contrast-mid: #191616;
$text: #FFEFD4;
$text-contrast: #736c60;
$text-contrast-mid: #a89f8e;
$text-contrast-light: #d1c6b5;
$contrast-1: #FB2B2B;
$contrast-1-2: #880000;
$contrast-1-3: rgb(51, 14, 14);
$contrast-2: #FFFFFF;
$contrast-3: #00A4CF;
$contrast-3-2: #1C49FF;
$secondary: #FFCC33;
$third: #33FF33;
$shadow-darker: rgba(251, 43, 43, 0.2);

// Mixins para efectos reutilizables
@mixin light-neon-effect-text {
  text-shadow: 0 0 15px $contrast-1;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

@mixin light-neon-effect-box {
  box-shadow: 0 0 10px $text;
  font-weight: bold;
}

// Estilos base
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  min-height: 100vh;
  background-color: $background;
  color: $text;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "GTVCS", serif;
  font-weight: bold;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.light-neon-effect-text {
  @include light-neon-effect-text;
}

.light-neon-effect-box {
  @include light-neon-effect-box;

}

div {
  border-radius: 0.5rem;
}

* {
  text-decoration-thickness: 0.01rem; // Línea fina
  text-underline-offset: 6px; // Línea más separada del texto
  text-underline-color: $text;
}

a {
  text-decoration: underline;
  margin: 0;
  cursor: pointer;
  color: $text-contrast-light;
}

a:hover {
  color: $text-contrast-mid;
}

.button {
  color: $contrast-1-2;
  background-color: $text;
  cursor: pointer;
  width: fit-content;

  * {
    @include light-neon-effect-text;
    font-family: 'CharisSIL', "GTVCS", serif;
  }
}

select {
  /* Eliminar apariencia nativa en todos los navegadores */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  select::-ms-expand {
    display: none;
  }

  width: auto;

  background-image: url("data:image/svg+xml;utf8,<svg fill='%23FFEFD4' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 8px;
  background-color: $background-contrast;
  border: 1px solid $text-contrast;
  font-family: inherit;
  padding: 0.5rem 1.5em 0.5em 1em;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  color: $text;
  line-height: inherit;
  outline: none;
}

:host ::ng-deep {
  .p-skeleton {
    background-color: #252020;

    &::after {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(251, 43, 43, 0.2), rgba(255, 255, 255, 0));
    }
  }

  .title-skeleton {
    height: 3rem !important;
  }

  .poster-skeleton {
    border-radius: 8px;
  }
}
