@use "../../../styles" as styles;

#title {
  font-family: 'CharisSIL', "GTVCS", serif;
  font-weight: bolder;
  font-size: 2.5rem;
}

#body {
  margin: 3rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: fit-content;
}

#votes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

#no-content {
  min-width: 250px;
  margin: 6rem;
}

#actions {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: fit-content;
  align-self: center;

}

#actions > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#owner-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#delete {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: styles.$contrast-1-2;
  color: styles.$text;
  border-radius: 0.5rem;
}
