<!-- movie.component.html -->
<app-media-content-display *ngIf="readonly()"
                           [id]="readonly().id"
                           [imdbId]="readonly().imdb_id"
                           [title]="readonly().title"
                           [tagline]="readonly().tagline"
                           [poster]="readonly().poster"
                           [overview]="readonly().overview"
                           [runtime]="readonly().runtime"
                           [releaseDate]="readonly().release_date"
                           [voteAverage]="readonly().vote_average"
                           [voteCount]="readonly().vote_count"
                           [budget]="readonly().budget"
                           [revenue]="readonly().revenue"
                           [reviews]="readonly().reviews"
                           [year]="year()"
                           [cast]="cast()"
                           [crew]="crew()"
                           [director]="director()"
                           [recommendations]="recommendations()"
                           [genres]="genres()"
                           [companies]="companies()"
                           [getPoster]="poster.bind(this)"
/>
